@model SargeStoreDomain.ViewModels.EmployeeView

@{
    ViewData["Title"] = "Удаление сотрудника ID:" + Model.Id;
}

<h2>Удаление</h2>

<h3>Вы уверены, что хотите удалить данного сотрудника?</h3>
<div>
    <h4>Сотрудник</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Patronymic)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Patronymic)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>
    </dl>
    
    <form asp-action="DeleteConfirmed" method="post" asp-route-Id="@Model.Id">
        <input type="submit" value="Удалить" class="btn btn-default" /> |
        <a asp-action="Index" class="btn btn-default">Назад</a>
    </form>
</div>
